@import '../../styles/global.css';

.header-footer h3 {
    margin: 0;
    padding: 0;
}

#input-container {
    display: grid;
    grid-template-columns: 0.25fr 1.75fr;
}

#input-container textarea {
    width: 100%;
}

#icon-post {
    font-size: 4rem;
}

#post-button {
    grid-column-start: 2;
}

.side-by-side-button-container {
    display: grid;
    grid-template-columns: 2.1fr 0.4fr 0.1fr 0.4fr;
}

.side-by-side-buttons{
    width: 100%;
    justify-self: flex-end;
    align-self: center;
}

.divider {
    height:auto;
}