.card {
    border-radius: 3px;
    border: 3px solid var(--fourth-color);
    margin: 2vh 3vw;
    padding: 0;
    width: 75%;
}

.card-with-comment {
    margin-bottom: 0;
}

.header-footer {
    margin: 0;
    padding: 1vh 1vw;
    border-color: lightblue;
    background-color: ghostwhite;
}

.header {
    border-bottom-style: outset;
}

.footer {
    border-top-style: outset;
    border-color: #6e8992;
}

textarea, p {
    box-sizing: border-box;
    padding: 1em 1em;
    color: black;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    border: none;
    font-size: 1rem;
    outline: none;
    resize: none;
    margin:0;
}


textarea:focus {
    outline:none;
}

.side-by-side-icons {
    display: grid;
    grid-template-columns: 1fr 1fr;
}